<h1>{{heading}}</h1>
<h2> Legend </h2>

{{#each colourMapping}}
    <div class='box' style="background-color: {{this}} ;"></div><span class="explanation">{{@key}}</span> <br>
{{/each}}

<br>
<img src="{{img}}"/>